wheel
tqdm
pytorch_lightning
hydra-core
jaxtyping
beartype
wandb
einops
colorama
scikit-image
colorspacious
matplotlib
moviepy<2
imageio
git+https://github.com/dcharatan/diff-gaussian-rasterization-modified
git+https://github.com/jotix16/PerceptualSimilarity.git
timm
dacite
e3nn
plyfile
sk-video
addict
roma
kornia>=0.8.2
